.tituloPrincipal {
  text-align: center;
 /*  margin: 17px 40px 5px 40px; */
  align-content: center;
  padding: 0.5vh;
  border: solid 0.5vh var(--color-border);
  background: linear-gradient(to right, black, rgba(200, 0, 250, 0.3));
}
.div-nav_container-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 0.5vh var(--color-border);

  // navBar roms y emuladores!
  .nav-itemListContainer {
    position: static;
    width: 100%;
    padding-left: 1.2vh;
    align-items: center;
    justify-content: left;
    // cancelo los stilos que no quiero de la etiqueta <nav> del componente roms (los etilos de la etiqueta estan declarados en nabBar.jsx).
    box-shadow: none;
     border-bottom: none; 

    h6 {
      margin-left: 1vh;
    }
    ul {
      margin: 0%;
    }
  }

  .container-global {
    display: flex;
    flex-direction: column;
    align-content: center;
    background: linear-gradient(to right, black 0%, rgba(50, 0, 100, 0.72)50%,transparent 100%);
    border-top: solid 0.5vh var(--color-border);
    overflow-y: auto;
    height: 85vh;
    
  }
}
