nav {
  //position y bootom son para que se mantenga siempre en el top de la pag, el width es para que ocupe todo el ancho. (stycky para q no pise el header).
  position: sticky;
  top: 0;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: linear-gradient(to right, black, rgba(200, 0, 250, 0.95));
  border-bottom: solid 0.5vh rgb(200, 0, 250);
  height: 40px;

  h1 {
    position: absolute;
    font-size: 37px;
    margin: 0%;
    padding-left: 25px;
    transition: 0.5s;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    li {
      margin: 1vh;
      transition: 0.5s;
    }
  }

  //hovers!!!
  li :hover {
    color: rgb(230, 230, 230);
    box-shadow: 0px 0px 100px 15px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 30px;
    transition: 0.2s;

  }
 
  h1:hover {
    
    margin: 1px;
    font-size: 39px;
    transition: 1s;
    
  }
}
