.nav-bar {
  //position y bootom son para que se mantenga siempre en el top de la pag, el width es para que ocupe todo el ancho. (stycky para q no pise el header).
  position: sticky;
  top: 0;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: linear-gradient(to right, black, rgba(200, 0, 250, 0.8));
  border-bottom: solid 0.5vh rgb(200, 0, 250);
  
  h1 {
    margin: 1vh;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
      margin: 1vh;
    }
  }
}
