.div-flex {
  max-height: 81vh;
 
  .contenedor-ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2vh;
    margin: 2vh 4vh  5vh 4vh ;
   
    .card {
      display: flex;
      flex-direction: column;
      padding: 1vh;
      /* margin: 1.5vh; */
      height: auto;
      background-color: rgba(200, 0, 250, 0.4);
      border: solid 0.25vh var(--color-border);
      box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.8);
      transition: box-shadow 0.7s, margin 0.4s;
      overflow: hidden;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        gap: 1vh;
      }

      .img-card {
        display: flex;
        width: 100%;
        height: auto;
        margin: auto;
        // esto es para q no deforme la img y no salga del container.
        border: solid 0.25vh var(--color-border);
        transition: border 0.7s, box-shadow 0.7s;

        &:hover {
          border: solid 0.4vh var(--color-border);
          box-shadow: 0px 0px 20px 7px var(--color-shadow);
          border-radius: 25px;
          transition: all 0.5s;
        }
      }

      p {
        width: 100%;
        height: 5vw;
        margin: auto;
        background-color: rgb(188, 143, 143, 0.6);
        overflow-x: auto;
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 8.5rem;
        border-radius: 100px;
        background: linear-gradient(to top, black, rgb(50, 2, 112));
        transition: box-shadow 0.7s;
        

        &:hover {
          background: linear-gradient(
            to top,
            rgba(26, 25, 25, 0.9),
            rgba(136, 12, 174, 0.9)
          );
          box-shadow: 0px 0px 25px 10px var(--color-shadow);
          transition: all 0.4s;
        }

        &:active {
          box-shadow: 0px 0px 50px 15px rgb(250, 0, 250);
          color: whitesmoke;
          transition: 0.4s;
        }
      }

      //hover de la card
      &:hover {
        background: linear-gradient(to top, black, rgba(36, 32, 32, 0.462));
        box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.764);
        border: auto 1.7rem auto 1.7rem;
        margin: auto 1.7rem auto 1.7rem;
      }
    }
  }
}
