.div-flex-detail {
  overflow: auto;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .cardDetail {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: max-content;

    .tv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
      &:hover {
        border-radius: 20px;
        transition: all 0.5s;
        margin: 1% 10% 3% 10%;
        border: 0.5vh solid rgba(200, 0, 250, 0.8);
        box-shadow: 0px 0px 10px 5px rgba(250, 0, 200, 0.8);
        background-color: black;
        border-radius: 20px;
      }

      // este contiene los parlantes y la pantalla
      .tv-flex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
       

        .img-card {
          max-width: 80%;
          border: solid 0.4vh rgba(200, 0, 250, 0.8);
          transition: border 0.7s, box-shadow 0.7s;
          position: relative;
          z-index: 2; 

          &:hover {
            border: solid 0.4vh rgba(200, 0, 250, 0.8);
            box-shadow: 0px 0px 30px 2px rgba(250, 0, 200, 0.8);
            border-radius: 25px;
            transition: all 0.2s;
            margin: 1% 8% 5% 8%; // aca darle la altura resposiva de las letras , el 0%
          }
        }

        .tv-parlante-a,
        .tv-parlante-b {
          height: 24vh;
          border-radius: 8px;
          position: relative;
          border: 0.4vh solid rgba(200, 0, 250, 0.8);
          box-shadow: 0px 0px 30px 5px rgba(250, 0, 200, 0.8);
          z-index: 1;
        }

        .tv-parlante-a {
          left: 5%;
          
        }

        .tv-parlante-b {
          right: 5%;
        }
      }

      .contenedor-botonera-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;
        height: 0px;
        margin-top: 2.5%;
        position: relative;
        top: -3vh; 
        z-index: 0; 
       

        .tv-logo {
          font-size: 1vh;
          position: relative;
          left: 10%;
        }

        .botonera {
          margin-top: 1vh;
          position: relative;
          left: 25%;
        }
      }
    }

    &:hover {
      background: linear-gradient(to top, black, rgba(36, 32, 32, 0.762));
      box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.764);
      margin: 2vh;
      border-radius: 10px;
      border: 0.4vh solid rgba(200, 0, 250, 0.8);
      transition: all 0.4s;
    }
  }
}
